.auth-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 40px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.auth-form a{
    text-decoration: underline;
    font-style: italic;
    color: #d5f8f7
}